@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: #28496b;
    --second-color: #b49b85;
    --dark-color: #0f132e;
    --light-color: #eac195;
    --primary-dark-color: #19274e;
    --primary-color-inv: #886f53;
}

*{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

body{
    font-family: 'Open sans', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    overflow: hidden;
}

header {
    background-color: var(--second-color);
    box-sizing: margin-box;
    height: 200px;
    width: 50%;
    margin: 0 0 0 25%;
    padding-top: 30px;
    border-radius: 15px;
}

h1 {
    background: var(--primary-color-inv);
    color: var(--dark-color);
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    margin: 0 0 20px 20%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px var(--dark-color);
}

h2 {
    background: var(--primary-color-inv);
    text-align: center;
    font-size: 1em;
    box-sizing: content-box;
    width: 40%;
    margin: 10px 0 20px 30%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px var(--dark-color);
    color: var(--dark-color);
}

h3 {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    background: var(--second-color);
    border-radius: 20px;
    height: auto;
    width: 50%;
    margin-left: 25%;
}

footer {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    background: var(--second-color);
    width: 15%;
    margin-left: 42.5%;
    border-radius: 20px;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    background-color: var(--second-color);
}


.element {
    background: var(--primary-color-inv);
}



/*A partir daqui é a lógica para implementar o slider infinito*/


.slider {
    display: flex;
    height: 700px;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider::before{
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9, 0), #f7f7f7);
}

.slider::after{
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 520px;
    background: linear-gradient(90deg, hsla(0, 0%, 96.9%, 0), hsla(0, 0%, 96.9%, 0.99) 99%);
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;          /*AQUI OS TEMPOS MEU IRMÃO!!!*/
    -webkit-animation: scroll 40s linear infinite;
    width: calc(240px * 10);
}

.slider .slide {
    display: flex;
}

.slider .slide div{
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-560px * 5));
        transform: translateX(calc(-560px * 5));
    }
}

/*A partir daqui é debug, mas a ideia é tornar essas divs canvas*/


#primeira-pagina {
    width: 100vw;
    height: 100vh;
}

#segunda-pagina div div {
    width: 100vw;
    height: 95vh;
    background: black;
}

#terceira-pagina div div{
    width: 100vw;
    height: 95vh;
    background: green;
}

#quarta-pagina div div{
    width: 100vw;
    height: 95vh;
    background: blue;
}

#quinta-pagina div div{
    width: 100vw;
    height: 95vh;
    background: yellow;
}

#sexta-pagina div div{
    width: 100vw;
    height: 95vh;
    background: red;
}

#first {
    background: black;
}
#second {
    background: green;
}
#third {
    background: blue;
}
#fourth {
    background: yellow;
}
#fifth {
    background: red;
}

#carrinho {
    width: 100vw;
    height: 100vh;
}
